.Authorize__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	background-color: #191414;
	color: #ffffff;
}

.Authorize__container p {
	max-width: 50%;
	text-align: center;
}

.Authorize__container button {
	background-color: #1DB954;
	color: #ffffff;
	font-weight: bold;
	border: none;
	border-radius: 5%;
	min-width: 100px;
	min-height: 30px;
}

.Authorize__container button:hover {
	background-color: #14893d;
	cursor: pointer;
}